[Unit]
Description=Start Robopipe API
After=robopipedhcp.service
Requires=robopipedhcp.service

[Service]
ExecStart=/bin/sh -c 'HOSTNAME=$(hostname) robopipe-api'
Restart=always
User=admin
Group=admin
Environment="ROBOPIPE_API_ENV=/etc/robopipe/.env"

[Install]
WantedBy=multi-user.target